In [1]:
# task 1
def func1():
    print("helllo")
func1()

In [2]:
# task 2
def func2(a, b):
   return a + b
func2(3,2)

5

In [3]:
# task 3
def func3(item, amount):

    return f"na {item} bylo potracheno {amount} som"
print(func3("moloko", 60))

In [ ]:
# task 4
def func4(s):
    s = s.replace(",", ".")
    s = s.replace(" ", "")
    return s
print(func4("12, 5, 7"))

In [4]:
# task 5
def add(a, b):
    return a + b

def div(result, num):
    return result / num

x = add(4,5)
print(div(x, 3))

In [ ]:
# task 6
def mult(numbers):
    result = 1
    for n in numbers:
        result *= n
    return result
print(mult([1, 2, 3, 4, 5]))

In [5]:
# task 7
def str_check(s):
    return "data science" in s.lower()
print(str_check("i study data science"))

In [3]:
# task 8
bd = ["emil", "rena", "aliya", "hur"]
def check(name):
    if name in bd:
        return "yes"
    else:
        return "no"
print(check("emil"))

yes

In [6]:
# task 9
def func9(n):
    return n, n**2
print(func9(5))

In [7]:
# task 10
users = [
    {'name': 'Ron', 'age': 18, 'work': 'IT-backend developer'},
    {'name': 'Sam', 'age': 23, 'work': 'Doctor'},
    {'name': 'Bob', 'age': 26, 'work': 'Driver'},
    {'name': 'John', 'age': 39, 'work': 'Teacher'},
    {'name': 'Jack', 'age': 29, 'work': 'IT-frontend developer'}
]
def employee(users):
    result = []
    for user in users:
        if user["age"] > 21 and "It" in user["work"]:
            result.append(user["name"])
        return result
print(employee(users))

In [8]:
# task 11
def arg_types(a,b):
    print(type(a))
    print(type(b))
arg_types(s, "hello")

In [ ]:
# task 12
def check_nan(lst):
    if "nan" in lst:
        lst.remove("nan")
    return lst
print(check_nan([1, 2, "nan", 4]))