In [ ]:
"C:\Users\Пользователь\PycharmProjects\python\python for DS\lessons\bank_accounts_big.xlsx"

In [2]:
#  pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\пользователь\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\пользователь\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\пользователь\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\пользователь\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\пользователь\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in c:\users\пользователь\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
file_path = r"C:\Users\Пользователь\PycharmProjects\python\python for DS\lessons\bank_accounts_big.xlsx"  # сохраняем путь к файлу
df_acc = pd.read_excel(file_path, sheet_name="accounts")  # читаем лист аккаунтс
df_tx = pd.read_excel(file_path, sheet_name="transactions")  # читаем лист трансакшнс
df_acc.head()

,client_id,client_name,account_type,city,status,segment,open_date,balance_kgs,tx_count_last30d,income_kgs_last30d
0,100000,Dzhanbolot Orozbekov,Online,Karakol,Active,Mass,2024-05-06,1511.50,17,4991.13
1,100001,Alina Saitov,Online,Talas,Active,Mass,2023-01-21,2361.25,17,4895.45
2,100002,Bilal Matkulova,Online,Bishkek,Closed,Mass,2025-01-12,4526.03,0,0.00
3,100003,Aizada Orozbekov,Online,Tokmok,Dormant,Mass,2024-05-16,2202.49,5,999.54
4,100004,Aizada Kadyrova,Online,Talas,Active,Plus,2025-05-01,2914.07,10,1131.35

In [5]:
df_acc.isna().sum()
df_tx.isna().sum()
df_tx.duplicated().sum()
df_acc.duplicated().sum()

np.int64(0)

In [7]:
df_acc.shape  # size of the table
df_acc.info()

<bound method DataFrame.info of      client_id           client_name account_type     city   status segment  \
0       100000  Dzhanbolot Orozbekov       Online  Karakol   Active    Mass
1       100001          Alina Saitov       Online    Talas   Active    Mass
2       100002       Bilal Matkulova       Online  Bishkek   Closed    Mass
3       100003      Aizada Orozbekov       Online   Tokmok  Dormant    Mass
4       100004       Aizada Kadyrova       Online    Talas   Active    Plus
..         ...                   ...          ...      ...      ...     ...
995     100995      Bilal Abdrasilov      Offline      Osh   Active    Mass
996     100996        Umar Matkulova       Online    Naryn   Active    Mass
997     100997       Meerim Tulekeev       Online    Talas   Active    Mass
998     100998         Artur Turdiev      Offline    Naryn   Active    Plus
999     100999          Umar Turdiev       Online   Tokmok  Dormant    Plus

     open_date  balance_kgs  tx_count_last30d  income_kgs_last30d
0   2024-05-06      1511.50                17             4991.13
1   2023-01-21      2361.25                17             4895.45
2   2025-01-12      4526.03                 0                0.00
3   2024-05-16      2202.49                 5              999.54
4   2025-05-01      2914.07                10             1131.35
..         ...          ...               ...                 ...
995 2024-06-03      1308.31                10             4057.05
996 2026-01-04      8852.46                11             3339.99
997 2024-01-25      2436.46                 9             3169.77
998 2024-09-15      2169.74                13             5403.64
999 2024-11-09     10147.52                 2              959.17

[1000 rows x 10 columns]>

In [8]:
df_tx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tx_id       5000 non-null   int64
 1   client_id   5000 non-null   int64
 2   tx_date     5000 non-null   datetime64[ns]
 3   tx_type     5000 non-null   object
 4   amount_kgs  5000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 195.4+ KB

In [10]:
df_acc['open_date'] = pd.to_datetime(df_acc['open_date'])
df_tx['tx_date'] = pd.to_datetime(df_tx['tx_date'])
df_acc['balance_kgs'] = pd.to_numeric(df_acc['balance_kgs'], errors='coerce')
df_tx['amount_kgs'] = pd.to_numeric(df_tx['amount_kgs'], errors='coerce')

In [11]:
df_active = df_acc[df_acc["status"] == "Active"]
df_active.head(10)

,client_id,client_name,account_type,city,status,segment,open_date,balance_kgs,tx_count_last30d,income_kgs_last30d
0,100000,Dzhanbolot Orozbekov,Online,Karakol,Active,Mass,2024-05-06,1511.50,17,4991.13
1,100001,Alina Saitov,Online,Talas,Active,Mass,2023-01-21,2361.25,17,4895.45
4,100004,Aizada Kadyrova,Online,Talas,Active,Plus,2025-05-01,2914.07,10,1131.35
5,100005,Said Tulekeev,Online,Batken,Active,Mass,2024-11-12,5182.73,11,4454.17
8,100008,Nursultan Saitov,Offline,Osh,Active,Mass,2023-01-09,13019.23,12,6444.28
9,100009,Dzhanbolot Matkulova,Online,Bishkek,Active,Mass,2023-05-25,3173.25,12,3963.52
10,100010,Umar Turdiev,Offline,Karakol,Active,Premium,2024-05-21,9353.17,9,10017.60
11,100011,Artur Saitov,Online,Batken,Active,Plus,2024-03-14,5695.87,3,1457.77
12,100012,Iskender Turdiev,Online,Naryn,Active,Premium,2025-05-26,1125.75,13,15498.60
13,100013,Alina Usenbekov,Offline,Tokmok,Active,Premium,2024-03-30,1507.62,17,11042.49

In [12]:
df_acc["vip_flag"] = df_acc["balance_kgs"] >= 200000  # новый столбец показывается вип клиент или нет
df_acc["tenure_days"] = (pd.Timestamp("2026-01-08") - df_acc["open_date"]).dt.days  #  количесвто дней пользования
df_acc["income_per_tx"] = (df_acc["income_kgs_last30d"] / df_acc["tx_count_last30d"].replace(0, np.nan)).round(2)  # столбец обещго дохода за 30 дней
df_acc[["client_id", "vip_flag", "tenure_days", "income_per_tx"]]  # проверка создались ил новые столбцы

     client_id  vip_flag  tenure_days  income_per_tx
0       100000     False          612         293.60
1       100001     False         1083         287.97
2       100002     False          361            NaN
3       100003     False          602         199.91
4       100004     False          252         113.14
..         ...       ...          ...            ...
995     100995     False          584         405.71
996     100996     False            4         303.64
997     100997     False          714         352.20
998     100998     False          480         415.66
999     100999     False          425         479.58

[1000 rows x 4 columns]

In [14]:
city_status = df_acc.groupby("city").agg(
    clients=("client_id", "nunique"),
    total_balance = ("balance_kgs", "sum"),
    avg_balance = ("balance_kgs", "mean"),
    vip_count = ("vip_flag", "sum"),
).reset_index()
city_status.sort_values("total_balance", ascending=False).head(10)

         city  clients  total_balance  avg_balance  vip_count
3     Karakol      154      775817.38  5037.775195          0
1     Bishkek      143      715015.40  5000.107692          0
0      Batken      122      691168.96  5665.319344          0
7      Tokmok      122      646535.79  5299.473689          0
6       Talas      130      644493.42  4957.641692          0
5         Osh      105      596336.51  5679.395333          0
2  Jalal-Abad      123      560484.33  4556.783171          0
4       Naryn      101      499916.53  4949.668614          0

In [15]:
pivot_seq_city = pd.pivot_table(  # создаем сводную таблицу
    df_acc,  # источник данных
    values = "balance_kgs",  #  что агрегирует
    index = "city",  # строки
    columns = "segment",  # колонки
    aggfunc = "mean",  # среднне
).round(2)  # округляем
pivot_seq_city.head()  # смотрим первые строки

segment        Mass     Plus   Premium
city
Batken      5572.18  5247.49  10929.33
Bishkek     4906.50  4118.35   7861.05
Jalal-Abad  4468.26  3807.74   6423.66
Karakol     5098.90  4752.98   5282.98
Naryn       5064.52  4567.47   6140.90

In [22]:
df_tx_pos = df_tx[df_tx["tx_type"] == "POS"]
df_tX_refund = df_tx[df_tx["tx_type"] == "REFUND"]
tx_sum_by_type = df_tx.groupby("tx_type")["amount_kgs"].sum().sort_values(ascending=False)
tx_sum_by_type = (
    df_tx
    .groupby("tx_type")["amount_kgs"]
    .sum()
    .round()
    .astype("int64")
)
tx_sum_by_type

tx_type
CASHOUT     735826
FEE         631933
P2P        1821302
POS        2900584
REFUND      319703
Name: amount_kgs, dtype: int64